* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* CSS Grid */
  body{
    font-family: Arial Narrow, Verdana, Helvetica Neue, Lato, Monserrat;
    display: grid;
    /* 12 columnas de 1fracción se suele usar para versión pc */
    grid-template-columns: repeat(12, 1fr); 
  
    /*esto es para las filas, en este caso para mi es 100px para el header, 
    1fr para el main para que se adapte al contenido y 100px para el footer */
    grid-template-rows: 100px 1fr 100px;
    min-height: 100vh;
  
    /* Sirve para decir lo que ocupan las etiquetas, en este caso son las 12 columnas y las 3 filas */
    grid-template-areas:
      "header header header header header header header header header header header header"
      "main main main main main main main main main main main main"
      "footer footer footer footer footer footer footer footer footer footer footer footer"
  }
  
  /* Header */
  header{
    grid-area: header;
    background-color: #1f0a1d;
    display: grid;
    /* Defino las columnas que necesito */
    grid-template-columns: 2fr 8fr 2fr;
  
    /* Le digo que etiqueta ocupa en las columnas (arriba). Lo de abajo sirve para asignar donde va lo que quiero que vaya (Mirar abajo) */
    grid-template-areas: "logo contenedor nav";
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header img {
    width: 5em;
    height: auto;
    align-self: center;
    margin-left: 1em;
  }
  
  #hamburger{
    display: none;
    border: solid white;
    padding: 1em;
    border-width: 0.3em;
  }
  
  /* Después de hacer lo de arriba le digo que le toca ir en nav  */
  #nave{
    /* Utilizar el grid-area:; me sirve para decirle que lo que he llamado nav arriba y le he dicho que ocupa 2fr pues en el grid-area: nav; va a a izquierda del todo y que
    ocupa 2fr (columnas) */
    
    grid-area: nav;
    justify-content: center;
    align-items: center;
  }
  
  
  a{
    text-decoration: none;
    color: #334f53;
  }
  
  a:hover{
    color: #99173c;
  }
  
  
  li{
    display: inline-block;
    margin: 5px;
  }
  
  ul{
    list-style: none;
  }

/* Main */
 main{
    grid-area: main;
    display: grid;
    background-color: #334f53;
}

.product-details {
    display: flex; /* Utiliza Flexbox para disposición horizontal */
}

.product-image {
    flex: 1; /* Ocupa un tercio de la pantalla */
    padding: 20px; /* Espaciado interno */
}

.product-image img {
    width: 30em; /* Asegura que la imagen ocupe el 100% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}

.product-info {
    flex: 2; /* Ocupa dos tercios de la pantalla */
    padding: 20px; /* Espaciado interno */
    display: flex;
    flex-direction: column; /* Organiza las secciones en columnas */
}

.title-price {
    margin-bottom: 20px; /* Espacio inferior */
}

.price {
    font-weight: bold; /* Resalta el precio */
    color: #28a745; /* Color del precio */
    font-size: 1.5em; /* Tamaño de fuente más grande */
}

.description {
    margin-bottom: 20px; /* Espacio inferior */
}

.actions {
    display: flex; /* Organiza los botones en línea */
    gap: 15px; /* Espacio entre botones */
}

button {
    background-color: #007bff; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 15px; /* Espaciado interno del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s; /* Efecto de transición */
}

button:hover {
    background-color: #0056b3; /* Color del botón al pasar el mouse */
}


  
  
/* Footer */
footer{
  
  grid-area: footer;
  grid-template-columns: 2fr 8fr 2fr;
  
}

footer h3{
  color: #334f53;
}

footer a {
  color: white;
}

#footerflex {
  display: flex;
  flex-direction: row; 
  align-items: center; 
  background-color: #1f0a1d; 
  padding: 20px; 
  justify-content: space around;
}

.footer-content {
  flex: 1; 
  margin: 10px; 
  text-align: center; 
}

.footer-content img{
  width: 2em;
  height: 2em;
  margin-top: 10px;
}


footer p{
  color: white;
}
  
  
  
  /* Si empiezo haciendolo desde la versión pc es max-width y si empiezo por la versión móvil es min-width */
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (max-width: 600px) {
    body{
      display: grid;
      /* 12 columnas de 1fracción se suele usar para versión pc */
      grid-template-columns: 1fr; 
    
      /*esto es para las filas, en este caso para mi es 100px para el header, 
      1fr para el main para que se adapte al contenido y 100px para el footer */
      grid-template-rows: 100px 1fr 100px;
      min-height: 100vh;
    }

    #nave {
      display: none;
    
    }
    
    #hamburger {
      display: flex;
    
    }
    
    #footerflex {
      display: flex;
      flex-direction: column; 
      align-items: center; 
      background-color: #1f0a1d; 
      padding: 20px; 
      justify-content: space around;
    }
    
    .footer-content {
      flex: 1; 
      margin: 10px; 
      text-align: center; 
    }
    
    .footer-content img{
      width: 2em;
      height: 2em;
      margin-top: 10px;
    }
    
    
    footer p{
      color: white;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (max-width: 768px) {
    /* body{
      grid-template-columns: ;
    } */
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (max-width: 1200px) {
    /* body{
      grid-template-columns: ;
    } */
  }