* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS Grid */
body{
  font-family: Arial Narrow, Verdana, Helvetica Neue, Lato, Monserrat;
  display: grid;
  /* 12 columnas de 1fracción se suele usar para versión pc */
  grid-template-columns: repeat(12, 1fr); 
  
  /*esto es para las filas, en este caso para mi es 100px para el header, 
  1fr para el main para que se adapte al contenido y 100px para el footer */
  grid-template-rows: 100px 1fr 100px;
  min-height: 100vh;
  
  /* Sirve para decir lo que ocupan las etiquetas, en este caso son las 12 columnas y las 3 filas */
  grid-template-areas:
    "header header header header header header header header header header header header"
    "main main main main main main main main main main main main"
    "footer footer footer footer footer footer footer footer footer footer footer footer"
  }
  
/* Header */
header{
  grid-area: header;
  background-color: #1f0a1d;
  display: grid;
  /* Defino las columnas que necesito */
  grid-template-columns: 2fr 8fr 2fr;

  /* Le digo que etiqueta ocupa en las columnas (arriba). Lo de abajo sirve para asignar donde va lo que quiero que vaya (Mirar abajo) */
  grid-template-areas: "logo contenedor nav";
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 5em;
  height: auto;
  align-self: center;
  margin-left: 1em;
}

#hamburger{
  display: none;
  border: solid white;
  padding: 1em;
  border-width: 0.3em;
}

/* Después de hacer lo de arriba le digo que le toca ir en nav  */
#nave{
  /* Utilizar el grid-area:; me sirve para decirle que lo que he llamado nav arriba y le he dicho que ocupa 2fr pues en el grid-area: nav; va a a izquierda del todo y que
  ocupa 2fr (columnas) */
  
  grid-area: nav;
  justify-content: center;
  align-items: center;
}
  
  
a{
  text-decoration: none;
  color: #334f53;
}
  
a:hover{
  color: #99173c;
}
  
  
li{
  display: inline-block;
  margin: 5px;
}
  
ul{
  list-style: none;
}
  
/* Main */
main{
  grid-area: main;
  display: grid;
  place-items: center;
  grid-template-columns: 6fr 6fr;
  grid-template-areas: "formulario" "google";
  background-color: #334f53;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formulario-contacto{
  grid-area: formulario;
  display: flex;
  flex-direction: column; 
  width: 100%;
  max-width: 500px;
  background-color: #e5ead4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 1.5rem; 
}

.formulario-contacto h2{
  display: flex;
  justify-content: center;
  font-size: 3em;
  margin-bottom: 1em;
  color: #333;
}

.formulario-contacto div{
  display: flex;
  flex-direction: column; 
  margin-bottom: 1rem; 
}

.formulario-contacto label{
  font-weight: bold;
  margin-bottom: 0.5rem; /* Espacio entre label y el campo */
  color: #333;
}

.formulario-contacto input, .formulario-contacto textarea{
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.formulario-contacto textarea{
  min-height: 50px;
}

.formulario-contacto button{
  margin-top: 1rem; 
  margin-left: 75px;
  padding: 0.75rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  background-color: #45936c;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s  cubic-bezier(0.62, 0.19, 0.31, 0.83);
 
}


.formulario-contacto button:hover{
  background-color: #1f0a1d;
}
 
footer{
  
  grid-area: footer;
  grid-template-columns: 2fr 8fr 2fr;
  
}

footer h3{
  color: #334f53;
}

footer a {
  color: white;
}

#footerflex {
  display: flex;
  flex-direction: row; 
  align-items: center; 
  background-color: #1f0a1d; 
  padding: 20px; 
  justify-content: space around;
}

.footer-content {
  flex: 1; 
  margin: 10px; 
  text-align: center; 
}

.footer-content img{
  width: 2em;
  height: 2em;
  margin-top: 10px;
}


footer p{
  color: white;
}

  
  
  
/* Si empiezo haciendolo desde la versión pc es max-width y si empiezo por la versión móvil es min-width */
  
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  body{
    display: grid;
    /* 12 columnas de 1 fracción se suele usar para versión pc */
    grid-template-columns: 1fr; 
    
    /*esto es para las filas, en este caso para mi es 100px para el header, 
    1fr para el main para que se adapte al contenido y 100px para el footer */
    grid-template-rows: 100px 1fr 100px;
    min-height: 100vh;
  }

  #nave {
    display: none;
  
  }
  
  #hamburger {
    display: flex;
  
  }

  #footerflex {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    background-color: #1f0a1d; 
    padding: 20px; 
    justify-content: space around;
  }
  
  .footer-content {
    flex: 1; 
    margin: 10px; 
    text-align: center; 
  }
  
  .footer-content img{
    width: 2em;
    height: 2em;
    margin-top: 10px;
  }
  
  
  footer p{
    color: white;
  }
}
  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  /* body{
    grid-template-columns: ;
  } */
}
  
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  /* body{
    grid-template-columns: ;
  } */
}