* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS Grid */
body{
  display: grid;
  /* 12 columnas de 1fracción se suele usar para versión pc */
  grid-template-columns: repeat(12, 1fr); 

  /*esto es para las filas, en este caso para mi es 100px para el header, 
  1fr para el main para que se adapte al contenido y 100px para el footer */
  grid-template-rows: 100px 1fr 100px;
  min-height: 100vh;

  /* Sirve para decir lo que ocupan las etiquetas, en este caso son las 12 columnas y las 3 filas */
  grid-template-areas:
    "header header header header header header header header header header header header"
    "main main main main main main main main main main main main"
    "footer footer footer footer footer footer footer footer footer footer footer footer"
}

/* Header */
header{
  grid-area: header;
  display: grid;
  background-color: black;
}

/* Main */
main{
grid-area: main;
display: grid;
background-color: aqua;
}

/* Footer */
footer{
  grid-area: footer;
  display: grid;
  background-color: black;
}




/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
